@import url('./font.css');
@import 'tailwindcss';

body {
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-body);
}

* {
  transition: all 0.25s;
}

::selection {
  background-color: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #fff !important;
  border-radius: 2.5px;
}

.link-style-uu {
  @apply mx-1 transition-all duration-250 ease-in-out cursor-pointer;
}
.link-style {
  @apply mx-1 transition-all duration-250 ease-in-out cursor-pointer underline;
}

.link-style:hover,
.link-style-uu:hover {
  @apply bg-white text-black mx-0 px-1 rounded;
}
