html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  color: var(--color-text);
  background-color: var(--color-body);
  transition:
    color 0.25s,
    background-color 0.25s;
}

* {
  cursor: url('https://r2.kuriyona.com/static/cursor/windows_11_cursors_concept/arrow.cur'), auto;
}

a,
a *,
button,
button * {
  cursor: url('https://r2.kuriyona.com/static/cursor/windows_11_cursors_concept/hand.cur'), pointer;
}

::selection {
  background-color: #cbc3e3;
  color: #000;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #cbc3e3 !important;
  border-radius: 2.5px;
}
