body {
  font-weight: 500;
}

html {
  --font-family: Noto Sans, 'Noto Sans SC', sans-serif;
}

body {
  font-family: var(--font-family);
}

:root {
  .font-mono {
    font-family: 'JetBrains Mono', var(--font-family);
  }
}
