@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

body {
  font-weight: 500;
}

html {
  --font-family: 'Noto Sans SC', sans-serif;
}

body {
  font-family: var(--font-family);
}

:root {
  .font-mono {
    font-family: 'JetBrains Mono', var(--font-family);
  }
}
