@import url('https://fontsapi.zeoseven.com/292/main/result.css');
@import url('https://fontsapi.zeoseven.com/293/main/result.css');

body {
  font-weight: 500;
}

html {
  --font-family: 'LXGW WenKai', sans-serif;
}

body {
  font-family: var(--font-family);
}

:root {
  .font-mono {
    font-family: 'LXGW WenKai Mono', var(--font-family);
  }
}
