@import 'tailwindcss';

.link,
.markdown-body a {
  color: #cbc3e3 !important;
  text-decoration: underline !important;
  transition: all 0.3s ease-in-out !important;
  padding: 0 2px !important;
  border-radius: 4px !important;
}

.link:hover,
.markdown-body a:hover {
  color: #000 !important;
  text-decoration: none !important;
  background-color: #cbc3e3 !important;
}

.trans-text {
  background-image: linear-gradient(30deg, #5bcffa, #f5abb9, #ffffff, #f5abb9, #5bcffa);
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.trans-bg {
  background-image: linear-gradient(
    to bottom,
    #5bcffa 0% 20%,
    #f5abb9 20% 40%,
    #ffffff 40% 60%,
    #f5abb9 60% 80%,
    #5bcffa 80% 100%
  );
}

.pride-bg {
  background-image: linear-gradient(
    to bottom,
    #e50000 0% 16.6%,
    #ff8d00 16.6% 33.2%,
    #ffee00 33.2% 49.8%,
    #028121 49.8% 66.4%,
    #004cff 66.4% 83%,
    #770088 83% 100%
  );
}
